/* 
    HERO SECTION
*/
header.home-hero {
    --hero-height: 100vh;
    margin-top: 50px;
    background-image: url('../../images/laptop-dashboard.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: var(--hero-height);

    text-align: center;
    color: white;
}
div.header-overlay {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--clr-black-transparent);
    height: 100%;
    width: 100vw;
}
h1.home-header {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.rotate-text > span {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}
div.rotate-text > span {
        opacity: 0;
        font-size: 2rem;
        width: 18ch
}
/*  ROTATING TEXT UNDER PAGE HEADER  */
span.text-1 {
    position: relative;
    animation: rotate-text-1 10s ease infinite both;
    /* transform: translateX(100%); */
}
span.text-2 {
    animation: rotate-text-2 10s ease infinite both;
}
span.text-3 {
    animation: rotate-text-3 10s ease infinite both;
}
@keyframes rotate-text-1 {
    0% {
        opacity: 0;   
    }
    15% {
        opacity: 1;   
    }
    30% {
        opacity: 0;
    }
}
@keyframes rotate-text-2 {
    35% {
        opacity: 0;   
    }
    50% {
        opacity: 1;   
    }
    65% {
        opacity: 0;
    }
}
@keyframes rotate-text-3 {
    70% {
        opacity: 0;   
    }
    85% {
        opacity: 1;   
    }
    100% {
        opacity: 0;
    }
}

/* 
    OTHER SECTIONS
*/

section.pricing-info, section.sales-pitch {
    background-color: var(--clr-near-white);
    color: var(--clr-dark);
}
section.pricing-info h2, section.sales-pitch h2, section.sales-pitch h3 {
    color: var(--clr-dark);
}
section.testimonials {
    background-color: var(--clr-dark);
    color: var(--clr-dark);
}
.two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

    padding: 3rem 0;
}
.two-columns img {
    border-radius: 2px;
}