/* 
    HERO SECTION
*/
header.home-hero {
    overflow-y: hidden;
    position: relative;
    --hero-height: 100vh;
    /* margin-top: 50px; */
    /* background-image: url('../../images/Leprechaun-cuate.svg');
    background-repeat: no-repeat;
    background-size: 50vh auto;
    background-position: right; */
    background-color: var(--clr-dark);
    width: 100vw;
    height: var(--hero-height);

    color: white;
}
img.hero-img {
    overflow: hidden;
    position: relative;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 50vh;
    width: 50vh;
}
/* div.header-overlay {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--clr-black-transparent);
    height: 100%;
    width: 100vw;
} */
h1.home-header {
    z-index: 2;
    position: relative;
    top: 10%;
    left: 50%;
    width: 6ch;
    transform: translate(-50%, 0%);
}

div.rotate-text > span {
    z-index: 2;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    font-size: 2rem;
    width: 18ch;
    text-align: center;
}
@media screen and (min-width: 568px) {
    /* 568x */
    header.home-hero {
        padding: 0 10vw;
        background-size: 75vh auto;
        background-position: 300%, 50%;
    }
    img.hero-img {
        --responsive-image-size: 80vh;
        height: var(--responsive-image-size);
        width: var(--responsive-image-size);
        /* left: 75%; */
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    h1.home-header {
        top: 15%;
        left: -2px;
        transform: translateY(0%);
        text-align: left;
        width: 20ch;
    }
    div.rotate-text > span {
        top: 40%;
        left: 10vw;
        transform: translateX(0%);
        text-align: left;
    }
}
/*  ROTATING TEXT UNDER PAGE HEADER  */
span.text-1 {
    position: relative;
    animation: rotate-text-1 10s ease infinite both;
    /* transform: translateX(100%); */
}
span.text-2 {
    animation: rotate-text-2 10s ease infinite both;
}
span.text-3 {
    animation: rotate-text-3 10s ease infinite both;
}
@keyframes rotate-text-1 {
    0% {
        opacity: 0;   
    }
    15% {
        opacity: 1;   
    }
    30% {
        opacity: 0;
    }
}
@keyframes rotate-text-2 {
    35% {
        opacity: 0;   
    }
    50% {
        opacity: 1;   
    }
    65% {
        opacity: 0;
    }
}
@keyframes rotate-text-3 {
    70% {
        opacity: 0;   
    }
    85% {
        opacity: 1;   
    }
    100% {
        opacity: 0;
    }
}

/* 
    OTHER SECTIONS
*/

section.pricing-info, section.sales-pitch {
    background-color: var(--clr-near-white);
    color: var(--clr-dark);
}
section.pricing-info h2, section.sales-pitch h2, section.sales-pitch h3 {
    color: var(--clr-dark);
}
section.testimonials {
    background-color: var(--clr-dark);
    color: var(--clr-dark);
}
.two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

    padding: 3rem 0;
}
.two-columns img {
    border-radius: 2px;
}