nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 10vw 0 10vw;
    background-color: var(--clr-dark);
    font-size: large;
    z-index: 999;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.fa-bars-button {
    display: none;
    background-color: var(--clr-dark);
    color: white;
    border: none;
    font-size: 1.5rem;
}
.fa-bars-button:hover {
    color: var(--clr-bright);
}

@media screen and (max-width: 629px) {
    .nav-links {
        display: none;
    }

    .fa-bars-button {
        display: block;
    }
}

